* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f0f0f0;
}

.container {
    width: 280px;
    height: 380px;
    border: solid 1px black;
    background-color: white;
    box-shadow: 2px 2px 5px #333;
    margin-left: 100px;
    margin-top: 60px;
}

h1 {
    color: #0000FF;
    margin-left: 37px;
}

button {
    cursor: pointer;
}

.botao-fecha {
    float: right;
    margin-top: -79.5px;
    margin-left: 15px;
    border: none;
    background-color: #fff;
    font-size: 17px;
}

.botao-fecha:hover {
    border: solid 2px #aaa;
    background-color: #eee;
    text-decoration: underline;
}

.usuario {
    margin-left: 50px;
    margin-left: 37px;
    margin-top: 5px;
}

.senha {
    margin-left: 50px;
    margin-left: 37px;
    margin-top: 5px;
}

.confirmar-senha {
    margin-left: 50px;
    margin-left: 37px;
    margin-top: 5px;
}
 
.digite-usuario {
    margin-left: 50px;
    margin-left: 37px;
    margin-top: 5px;
}

.digite-senha {
    margin-left: 50px;
    margin-left: 37px;
    margin-top: 5px;
}

.id-usuario {
    background-color: #bbb;
    border: none;
    margin-left: 37px;
    width: 200px;
    height: 20px;
}

.id-senha {
    background-color: #bbb;
    border: none;
    margin-left: 37px;
    width: 200px;
    height: 20px;
}

.exibir-senha {
    font-size: 15px;
    float: right;
    margin-right: 38px;
    margin-top: 15px;
}

.bloco-senha {
    float: right;
    margin-top: 17px;
    margin-left: 40px;
}

.botao-entrar {
    width: 200px;
    height: 25px;
    margin-left: 37px;
    margin-top: 15px;
    color: #fff;
    background-color: #42426F;
    border: none;
}

p {
    margin-left: 50px;
}

.criar-nova-conta {
    margin-left: 75px;
}

b {
    text-decoration: none;
    cursor: pointer;
    color: #42426F;
}

.nao-conta {
    margin-left: 60px;
}

.pussui-conta {
    margin-left: 78px;
} 

.entrar-sistema {
    margin-left: 75px;
} 



.botao-cadastrar-aqui {
    text-decoration: none;
    float: left;
    font-size: 20px;
    margin-left: 37px;
    margin-top: 10px;
}